#root {
  max-width: 1280px;
  margin: 0;

}


body{
  background: linear-gradient(132deg, #000000,#00ff00, #0000ff,#e60073,#ff0000,#ffffff);
  background-size: 400% 400%;
  animation: BackgroundGradient 15s ease infinite;
  justify-content: center; /* Center horizontally */
  align-items: center; 
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.navbar {
  position: absolute;
  left:0;
}

#Welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  color: #ffffff;
  font-size: 1em;
  text-align: center; 
  position: relative;
  font-family: Baskerville, serif;
}

#Welcome-message h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}

#Welcome-message p {
  font-size: 1.5em;
  font-weight: 700;
}

#footer {
  display: flex;
  bottom: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  position: relative;
  text-align: center; 
  font-size: smaller;
  line-height: 0%;
  color: #ffffff;
}

img{
  width: 50%;
  height: 30%;
  position:relative;
}



